{% extends 'base.html' %}

{% block titulo %}Laptops{% endblock %}

{% block contenido %} 
    <h1>Laptops</h1>
    <table border="1">
      <thead>
        <tr>
          <td>Marca</td>
          <td>Modelo</td>
          <td>Linea</td>
        </tr>
      </thead>
      <tbody>
        {% for item in laps %}
        <tr>
          <td>{{item.marca}}</td>
          <td>{{item.modelo}}</td>
          <td>{{item.linea}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
{% endblock %}